.example-container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 6rem;
  display: grid;
  gap: 1rem;
}

.example-container mat-form-field {
  width: 220px;
}

.example-form-fields {
  gap: 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  place-items: center;
}

.button-form-data-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}

.room-table-container {
  overflow: scroll;
  padding-block: 2rem;
  padding-inline: 0.25rem;
}
