<div class="example-container">
  <form [formGroup]="formData" (submit)="submitData()">
    <div class="example-form-fields">
      <mat-form-field>
        <mat-label>Start time</mat-label>
        <input
          matInput
          #input
          type="time"
          formControlName="startTime"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput #input type="time" formControlName="endTime" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of people</mat-label>
        <input
          matInput
          #input
          maxlength="10"
          type="number"
          formControlName="nbrPeople"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select required formControlName="type">
          <mat-option value="VS">VS</mat-option>
          <mat-option value="SPEC">SPEC</mat-option>
          <mat-option value="RC">RC</mat-option>
          <mat-option value="RS">RS</mat-option>
        </mat-select>
        <mat-label> Meeting type </mat-label>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-form-data-container">
      <button mat-raised-button type="submit" color="primary">Submit</button>
    </div>
  </form>
  <div class="room-table-container">
    @if (data) {
    <app-room-table [dataSource]="[data]"></app-room-table>
    }
  </div>
</div>
