<div class="example-container">
  <form [formGroup]="formData" (submit)="submitData()">
    <div class="example-form-fields">
      <mat-form-field>
        <mat-label>Start time</mat-label>
        <input
          matInput
          #input
          type="time"
          formControlName="startTime"
          required
        />
        @if(startTime?.hasError('required')){
        <mat-error>Start Time is required</mat-error>
        } @if(startTime?.hasError('timeRange') &&
        !startTime?.hasError('required')){
        <mat-error>Start Time must be between 08:00 and 19:00.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input matInput #input type="time" formControlName="endTime" required />
        @if(endTime?.hasError('required')){
        <mat-error>End Time is required</mat-error>
        } @if(endTime?.hasError('timeRange') && !endTime?.hasError('required')){
        <mat-error>Start Time must be between 08:00 and 19:00.</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of people</mat-label>
        <input
          matInput
          #input
          maxlength="10"
          type="number"
          formControlName="nbrPeople"
          required
        />
        @if(nbrPeople?.invalid){
        <mat-error>Number of people is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-select required formControlName="type">
          <mat-option value="VC">VC</mat-option>
          <mat-option value="SPEC">SPEC</mat-option>
          <mat-option value="RC">RC</mat-option>
          <mat-option value="RS">RS</mat-option>
        </mat-select>
        <mat-label> Meeting type </mat-label>
        @if(type?.invalid){
        <mat-error>Type is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [min]="minDate"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if(date?.invalid){
        <mat-error>Date is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="button-form-data-container">
      <button mat-raised-button type="submit" color="primary">Submit</button>
    </div>
  </form>
  <div class="room-table-container">
    @if (meeting.data) {
    <app-room-table [dataSource]="[meeting.data]"></app-room-table>
    }
  </div>
</div>
